@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 154 70% 96%;
    --foreground: 157 68% 6%;
    --card: 154 70% 96%;
    --card-foreground: 157 68% 6%;
    --popover: 154 70% 96%;
    --popover-foreground: 157 68% 6%;
    --primary: 156 67% 51%;
    --primary-foreground: 157 68% 6%;
    --secondary: 282 67% 71%;
    --secondary-foreground: 157 68% 6%;
    --muted: 154 71% 20%;
    --muted-foreground: 157 69% 70%;
    --accent: 322 67% 62%;
    --accent-foreground: 157 68% 6%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 157 68% 6%;
    --border: 154 71% 20%;
    --input: 154 71% 20%;
    --ring: 322 67% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 154 70% 4%;
    --foreground: 157 68% 94%;
    --card: 154 70% 4%;
    --card-foreground: 157 68% 94%;
    --popover: 154 70% 4%;
    --popover-foreground: 157 68% 94%;
    --primary: 156 67% 49%;
    --primary-foreground: 154 70% 4%;
    --secondary: 282 67% 29%;
    --secondary-foreground: 157 68% 94%;
    --muted: 154 71% 80%;
    --muted-foreground: 157 68% 94%;
    --accent: 322 67% 38%;
    --accent-foreground: 157 68% 94%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 158 69% 10%;
    --border: 154 70% 60%;
    --input: 154 71% 80%;
    --ring: 322 67% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
